@charset "utf-8";
.fl{ float:left; display:inline;}
.fr{float:right; display:inline;}

.width10{width:10%}
.width20{width:20%}
.width30{width:30%}
.width40{width:40%}
.width50{width:50%}
.width60{width:60%}
.width70{width:70%}
.width80{width:80%}

.mbr5{ margin:0 5px 5px 0;}
.mbr10{margin:0 10px 10px 0;}
.mbr20{margin:0 20px 20px 0;}
.mbr30{margin:0 30px 30px 0;}

.mtl5{ margin:5px 0 0 5px;}
.mtl10{margin:10px 0 0 10px;}
.mtl20{margin:20px 0 0 20px;}
.mtl30{margin:30px 0 0 30px;}

.m5{margin:5px;}
.m10{margin:10px;}
.m20{margin:20px;}
.m30{margin:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}

.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}

.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}

.align_center{text-align:center;}
.align_right{text-align:right;}
.align_left{text-align:left;}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}

.red,.error{color:red;}
.green,.success{color: green}
